<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.edoctor">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:name=".EDoctor"
            android:usesCleartextTraffic="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".presentation.app.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.edoctor.presentation.app.welcome.WelcomeActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.main.MainActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.addParameter.AddOrEditParameterActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.addEvent.AddOrEditEventActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name="com.edoctor.presentation.app.chat.ChatActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.doctor.DoctorActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.patient.PatientActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.editMedicalAccess.EditMedicalAccessActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.parameter.ParameterActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.medcardForDoctor.MedcardForDoctorActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.recordsFromDoctor.RecordsFromDoctorActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.recordsForPatient.RecordsForPatientActivity"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".presentation.app.imageViewerActivity.ImageViewerActivity"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustPan"/>

    </application>


</manifest>